@page
@model DotNetShop.Pages.Orders.SuccessModel
@{
}

<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <h1><strong>Order placed succesfully!</strong></h1>
        <br>
        <a class="btn btn-primary w-20" asp-page="/Index">
            Start Shopping
        </a>
    </div>
</div>