@page
@model DotNetShop.Pages.ProductsModel
@{
}

<section data-bs-version="5.1" class="content2 cid-tsEZVFGbrL" id="content2-g">
    <div class="container">
        <div class="row mt-4">
            <partial name="_ProductList" model="Model.Products" />
        </div>
    </div>
</section>