@page
@model DotNetShop.Pages.Cart.EmptyModel
@{
}

<div class="container">
    <br><br><br><br>
    <div class="text-center">
        <img src="https://www.svgrepo.com/show/17356/empty-cart.svg" class="img-fluid" style="width: 200px; height: 200px; margin-left: auto; margin-right: auto" alt="...">
        <br>
        <h1><strong>Your cart is empty</strong></h1>
        <br>
        <p>Before proceed to checkout you must add some products to your shopping cart. You will find a lot of interesting products on our "Shop" page.</p>
        <a class="btn btn-primary w-20" asp-page="/Index">
            Start Shopping
        </a>
    </div>
</div>